@model QuizMakerApp.Model.User
@{
    ViewBag.Title = "My Account";
}
<div class="mdk-drawer-layout mdk-js-drawer-layout" push has-scrolling-region>
    <div class="mdk-drawer-layout__content">
        <div class="container-fluid">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Dashboard">Home</a></li>
                <li class="breadcrumb-item active">My Account</li>
            </ol>
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#first" data-toggle="tab">Account</a>
                    </li>
                    
                </ul>
                <div class="p-2 tab-content">
                    <div class="tab-pane active" id="first">
                        <form action="#" class="form-horizontal">
                            <div class="form-group row">
                                <label for="avatar" class="col-sm-3 col-form-label">Avatar</label>
                                <div class="col-sm-9">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon-block rounded">
                                                <i class="material-icons text-muted-light md-36">photo</i>
                                            </div>
                                        </div>
                                        @*<div class="media-body media-middle">
                                            <label class="custom-file m-0">
                                                <input type="file" id="file">
                                                <span class="custom-file-control"></span>
                                            </label>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">User Name</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="First Name" value="@Model.UserName" disabled>

                                            </div>


                                 
                                        </div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-6 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted">mail</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Email Address" value="@Model.Email" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="website" class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-6 col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon2">
                                          @* <i class="material-icons md-18 text-muted">language</i>*@
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="www." value="@Model.Adress" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-6 col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3">
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" class="form-control" value="@Model.Phone" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label">Create Date</label>
                                <div class="col-sm-6 col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" class="form-control" value="@Model.CreatedDate.ToString("dd.MM.yyyy")" disabled>
                                        
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <div class="col-sm-8 offset-sm-3">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#" class="btn btn-success">Save Changes</a>
                                        </div>
                                        <div class="media-body media-middle pl-1">
                                            <label class="custom-control custom-checkbox m-0">
                                                <input type="checkbox" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Subscribe to Newsletter</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>

